@CHARSET "UTF-8";

.ui-corner-all {
	border-radius: 0px;
}

/* Override PrimeFaces Font */
.ui-widget {
	font-family: ITJobs_1;
}

input {
	font-family: ITJobs_1;
}

/* p:inputText, etc */
.ui-inputfield {
	padding: 0px;
	box-shadow: none;
	border-radius: 0px; border-width : 1px; border-style : solid;
	/*background-color: #DBDBDB;*/
	background-color: #fff;
	color: #5E5E5E;
	text-shadow: none;
	border-width: 1px;
	border-style: solid;
}

/* Erros - background da fonte nos campos em falta/erro */
.ui-outputlabel.ui-state-error {
	background: none;
}

/* Erros, infos - caixa das mensagens */
.ui-messages-error {
	border-radius: 0px;
	border: none;
	padding: 5px;
}

.ui-messages-info {
	border-radius: 0px;
	border: none;
	padding: 5px;
}

.ui-messages-error-icon {
	/* Esconde o ícone */
	visibility: hidden;
}

.ui-messages-info-icon {
	/* Esconde o ícone */
	visibility: hidden;
}

/* p:commandButton */
.ui-button {
	box-shadow: none;
	border-radius: 0px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #ff4081;
	/* Cor primária */
	/*background-color: #3F51B5;*/
	/*background: #fff; color : #3F51B5;
	text-shadow: none;
	color: #3F51B5;*/
}

.ui-button:hover {
	/*border-bottom-style: solid;
	border-width: 1px;
	border-color: #3F51B5;
	color: #ff4081;*/
}

/* p:calendar date-picker */
.ui-datepicker {
	border-radius: 0px;
	color: #3F51B5;
	text-shadow: none;
	font-weight: normal;
}

/*Menu*/
.ui-menu {
	padding: 0px;
	margin-left: 16px;
}

.ui-widget-content {
	border-style: none;
}

.ui-widget-header {
	border-style: none;
	/*background: #3F51B5;*/
}